/* App container styles */
.app-container {
  background-color: #FFDAB9; /* PeachPuff */
}

/* Main container styles */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 700px;
  padding: 20px;
  background-color: #FFE4B5; /* Moccasin */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

/* Title styles */
.title {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 50px;
  color: #FFA07A; /* LightSalmon */
  margin-bottom: 10px;
  text-align: center;
}

/* Subtitle styles */
.subtitle {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
  color: #000; /* Black */
  margin-bottom: 20px;
  text-align: center;
}
